@model Web.Models.Users.UsersIndexViewModel
@using Microsoft.AspNetCore.Identity;
@using Data.Entitiy;
@inject SignInManager<User> _signInManager;
@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

@if (_signInManager.IsSignedIn(User) && User.IsInRole("CEO"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            @if (_signInManager.IsSignedIn(User) && User.IsInRole("CEO"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<ul class="pagination d-flex justify-content-center">
    @for (var i = 1; i <= Model.Pager.PagesCount; i++)
    {
        <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
            <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
        </li>
    }
</ul>
